/* stylelint-disable order/properties-order */
@use '../colors' as *;
.slider-container {
  max-height: 492px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text {
  margin-top: 12px;
  margin-bottom: 0;

  color: $black;
  font-size: 15px;
  text-align: left;
}

.range {
  display: flex;
  align-items: center;
  margin-top: 24px;

  .range-item {
    flex: 1;
    height: 2px;

    background-color: $gray-d2d6e0;
    opacity: 0.5;

    transition: all 0.25s;

    &.active {
      background-color: $black;
      opacity: 1;
    }
  }
}

.button {
  cursor: pointer;
  position: absolute;
  top: unset;
  right: unset;
  bottom: 0;
  left: unset;

  z-index: 1;

  width: 60px;
  height: 60px;

  color: $black;

  background: unset;

  background-color: $white;

  transform: unset;

  svg path {
    fill: unset;
  }

  &:focus {
    color: $black;

    background-color: $white;
  }

  &:hover {
    color: $white;

    background-color: $black;

    svg path {
      stroke: $white;
    }
  }

  &::before {
    display: none;
  }

  &.prev-arrow {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    &::before {
      position: absolute;
      right: 0;

      display: block;
      width: 1px;
      height: 20px;

      background-color: $gray-d2d6e0;

      content: '';
    }
  }

  &.prev-arrow:hover {
    &::before {
      display: none;
    }
  }

  &.next-arrow {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
