body {
  margin: 0;
}
nav {
  position: sticky;
  top: 0;
  transition: all 0.6s ease-in-out;
  background: tan;
  color: white;
}
ul {
  display: flex;
  padding: 2rem;
  margin: 0;
  justify-content: flex-end;
  list-style-type: none;
}
li {
  margin: 0 1rem;
  cursor: pointer;
}
.hung {
  .name {
    color: red;
    &::before {
      color: blue;
      content: 'hidasd';
    }
  }
  .user.hi {
    color: blue;
  }
}
// .hung {
//   .name {
//     color: red;
//   }
// }
.panel {
  padding: 0px 10px;
  margin-top: 20px;
  background-color: tan;
  height: 100%;
  p {
    font-size: medium;
    line-height: 1.7;
  }
  span {
    background-image: linear-gradient(yellow, yellow);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 1s ease-in;
    &:hover {
      background-size: 100% 100%;
    }
  }
  .span-active {
    background-size: 100% 100%;
  }
}
.nav-active {
  background-color: white;
  color: black;
}
.square {
  height: 50px;
  width: 50px;
  background: fuchsia;
  &.red {
    background: red;
  }
}
.squareRed {
  height: 50px;
  width: 50px;
  background: red;
}
