.rem {
  width: 10rem;
  height: 10rem;
  background-color: #de6565;
  font-size: 32px;
}
.em {
  font-size: 32px;
  width: 10em;
  height: 10em;
  background-color: #f8d63c;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  font-size: 32px;
}
